{% extends "base.html" %}

{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
{% endblock %}

{% block main-content %}
	<h1 align="center" style="color:blue; font-size: 50px">Email Confirmed</h1>

    {% if errors %}
	<p class="alert alert-danger">
    	{{ errors }}
    </p>
    {% endif %}

	<div style="font-size: 20px; width=500px" align="center" >
	<a href="mailto:{{ email }}">{{ email }}</a> has been confirmed. 
	<p>Enjoy your tour to Yummy. Thank you.</p>
	<a href="{% url 'login' %}">Please Log in...</a>
	</div>
{% endblock %}