{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/account.css" %}">
    <script type="text/javascript" src="{% static "js/account.js" %}"></script>
{% endblock %}

{% block main-content %}

<div class="inner-wrap" style="margin-left: 35%; margin-right: 20%; padding-top: 5%;">

    {% if errors %}
    <p class="alert alert-danger">
        {{ errors }}
    </p>
    {% endif %}

    {% for error in form.errors %}
        <p class="alert alert-danger">
            {{ error }}
        </p>
    {% endfor %}

    <h2 class="form-sign-heading">Add a new restaurant</h2>

    <form method="post" action="{% url 'add_restaurant' %}" onsubmit="return getLatLng();">
        <table>
        {% for field in form.visible_fields %}
            <tr>
                <td><input id="{{ field.auto_id }}" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}" class="form-control" style="width:300px" placeholder="{{ field.label }}"></td>
                {% if field.errors %}
                <td style="color: red">{{ field.errors }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>

        {% for field in form.hidden_fields %}
          {{field}}
        {% endfor %}
        
        <div style="margin-right:50px; margin-top:20px;">
        <input type="submit" value="Add" class="btn btn-primary col-lg-2" style="height:40px; width:100px;" />
        <a class="btn btn-primary col-lg-2" style="height:40px; width:100px;" href="{% url 'my_restaurants' %}">Cancel</a>
        </div>

        {% csrf_token %}
    </form>

{#    <table id="recipe-form">#}
{#        <tr>#}
{#            <td><input class="form-control" placeholder="Recipe Name"></td>#}
{#            <td><input class="pull-left" type="file" id="picture"></td>#}
{#            <td><a class="btn btn-primary" onclick="postRecipe()">Post</a></td>#}
{#        </tr>#}
{#    </table>#}

    <form enctype="multipart/form-data" onsubmit="return postRecipe()" id="recipe_upload">
        <label>Your email address:</label>
        <input class="form-control" name="name" placeholder="Recipe Name" required/><br />
        <label>Custom picture:</label>
        <input type="file" name="picture" required />
        <input type="submit" value="Post" />
        {% csrf_token %}
    </form>





    <div id="map-canvas" class="map-container"></div>

</div>
{% endblock %}