{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/account.css" %}">
    <script type="text/javascript" src="{% static "js/account.js" %}"></script>
{% endblock %}

{% block main-content %}

    {% if errors %}
	<p class="alert alert-danger">
    	{{ errors }}
    </p>

    {% else %}

    <div class="center-form">
        <h2 class="col-lg-8">Welcome to your restaurants, {{ user.first_name }} {{ user.last_name }}</h2>
        <a class="btn btn-primary col-lg-2" style="margin-right: 20px; margin-top: 30px;" href="{% url 'add_restaurant' %}">Add Restaurant</a>
    </div>

    <table class="center-form" style="padding-top: 20px; border-top: solid; border-top-color: dodgerblue;">
		{% for restaurant in restaurants %}
		<tr class="bot-border">
            <td class="col-lg-3">
            <h4><a href="{%  url 'restaurant_home' restaurant.id %}">{{ restaurant.name }}</a></h4>
            <p>{{ restaurant.address}}</p>
            <div style="width:auto; display:inline-flex;">
                {% if restaurant.avg_rating  <= 1 %}
                    <img src="{% static "images/rating1.png" %}" height="40px">
                {% elif restaurant.avg_rating <= 2 %}
                    <img src="{% static "images/rating2.png" %}" height="40px">
                {% elif restaurant.avg_rating <= 3 %}
                    <img src="{% static "images/rating3.png" %}" height="40px">
                {% elif restaurant.avg_rating <= 4 %}
                    <img src="{% static "images/rating4.png" %}" height="40px">
                {% elif restaurant.avg_rating <= 5 %}
                    <img src="{% static "images/rating5.png" %}" height="40px">
                {% endif %}
                <h4>{{ restaurant.avg_rating }} ratings<br> {{ restaurant.review_number }} reviews</h4>
            </div>
            </td>
            <td class="col-lg-6">
                <h4>Introduction</h4>
                <p><strong>{{ restaurant.introduction }}</strong></p>
            </td>
		</tr>
		{% endfor %}
    </table>

    {% endif %}

{% endblock %}