{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/account.css" %}">
    <script type="text/javascript" src="{% static "js/account.js" %}"></script>
{% endblock %}

{% block main-content %}

    {% if errors %}
	<p class="alert alert-danger">
    	{{ errors }}
    </p>
    {% endif %}

    <div class="bot-border">
        <h2>Welcome to your restaurants, {{ user.first_name }} {{ user.last_name }}</h2>
        <a class="btn btn-primary" style="float: right; margin-right: 20px; margin-top: 10px;" href="{% url 'add_restaurant' %}">Add Restaurant</a>
    </div>

	{% for restaurant in restaurants %}
		{{ restaurant }}
	{% endfor %}

{% endblock %}