{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/account.css" %}">
    <script type="text/javascript" src="{% static "js/account.js" %}"></script>
{% endblock %}

{% block main-content %}
	<h2>Welcome to your reviews, {{ user.firstname }} {{ user.lastname }}</h2>

	<ul>
		{% for review in reviews %}
		<li>	
			<h4>{{ review.restaurant.name }}</h4><p>{{ review.create_time }}</p>
			<div class="star-rating"></div>
			<p>{{ review.content }}</p>
		</li>
		{% endfor %}
	</ul>

{% endblock %}