{% extends "base.html" %}

{% block head %}
	{% load static %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
	<script type="text/javascript" src="{% static "js/home.js" %}"></script>
{% endblock %}

{% block main-content %}
<h1>  Welcome to Yummy
    {% if user.is_authenticated %}
        ,{{ user.first_name }} {{ user.last_name }}
    {% endif %}
    !
</h1>

<h2 style="color: red;">The recommended restaurants near you!</h2>

<div class="inner-wrap">
    <ul class="list-unstyled" id="restaurant-list">
    </ul>
</div>

{% endblock %}