body {
	background-color: #eee;
}

.controls {
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
      
#header_outer {
	background-color: #FF9900;
	font-size: 20px;
	padding-top: 10px;
	height: 80px;
}

#header_brand {
	padding-left: 50px;
}

#header_menu {
	color: red;
	padding-left: 30px;
}

#header_me {
	padding-right: 20px;
}

#wrap-all {
	position: relative;
	padding-top: 80px;
	padding-left: 10%;
	padding-right: 10%;
}

#main {
	background: white;
	height: 100%;
}

#side-list {
	font-size: 20px;
	vertical-align: top;
}

#main-panel {
	width: 600px;
	font-size: 30px;
	border-collapse:separate; 
	border-spacing:20px
}

#log-in {
	padding-top: 5%;
	margin-left: 35%;
	margin-right: 35%;
}

#map-canvas {
	position: relative;
	margin-right: 0px;
	padding-left: 200px; 
	height: 300px;
	width: 500px;
}