body {
	background-color: #eee;
}

.pac-container {
	z-index: 1200;
}

.map-container {
    border-color: dodgerblue;
    height: 300px;
    width: 500px;
}

.mag-left-50 {
	margin-left: 50px;
}

.mag-left-100 {
	margin-left: 100px;
}

.navbar-form .input-group-btn,
.navbar-form .input-group-addon {
	width: auto;
}
      
#header{
	background-color: #ADD6FF;
	font-size: 20px;
	padding-top: 10px;
	height: 80px;
}

#header_brand {
	margin-left: 30px;
}

#header_menu {
	background-color: #FF9900;
	margin-left: 100px;
}

#header_login {
	margin-right: 20px;
}

#wrap-all {
	position: fixed;
	margin-top: 80px;
	padding-left: 10%;
	padding-right: 10%;
}

#main {
	background: white;
	padding-bottom: 500px;
    height: auto;
}