{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/restaurant.css" %}">
    <script type="text/javascript" src="{% static "js/restaurant.js" %}"></script>
{% endblock %}

{% block main-content %}

<div class="inner-wrap center-table">
    <h2>Recipe in restaurant {{ restaurant }}</h2>

    {% if error in errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <ul class="list-unstyled" id="review-list">
        {% for recipe in recipe_list %}
        <li class="list-space top-border" style="display:inline-flex;">
            <h4>{{ recipe.name }}</h4>
            <img src="{{ recipe.picture }}" alt="{{ recipe.id }}">
        </li>
        {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{% url 'restaurant_home' restaurant_id %}">Back</a>
</div>  

{% endblock %}



