{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/restaurant.css" %}">
    <script type="text/javascript" src="{% static "js/restaurant.js" %}"></script>
{% endblock %}

{% block main-content %}

<div class="inner-wrap center-table">

    {% if errors %}
        <p class="alert alert-danger">{{ errors }}</p>
    {% else %}

    <h2 class="bot-border" style="padding-top: 20px">Recipe in {{ restaurant_name }}</h2>

    <ul class="list-unstyled" id="review-list">
        {% for recipe in recipes %}
        <li class="list-space bot-border" style="text-align: center;">
            <h2>{{ recipe.name }}</h2>
            <img src="{% url 'get_recipe_image' recipe.id %}" alt="{{ recipe.id }}" height="600px">
        </li>
        {% endfor %}
    </ul>

    {% endif %}

</div>

{% endblock %}



