{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/restaurant.css" %}">
    <script type="text/javascript" src="{% static "js/restaurant.js" %}"></script>
{% endblock %}

{% block main-content %}

<input type="hidden" value="{{ restaurant.id }}" id="restID-hid">
<input type="hidden" value="{{ restaurant.location.x }}" id="lng-hid">
<input type="hidden" value="{{ restaurant.location.y }}"  id="lat-hid">

{% if error in errors %}
    <p>{{ error }}</p>
{% endif %}

<div class="inner-wrap">
    <table class="table bot-border">
    <tr>
        <td>
            <h2>{{ restaurant.name }}</h2> 
            <div id="map-canvas" class="map-container"></div>
        </td>
        <td>
            <h4>Introduction</h4>
            <p>
                {{ restaurant.introduction }}
            </p>
            <h4> Address </h4>
            <address>
                <strong>{{ restaurant.address }}</strong>
            </address>
        </td>
        <td>
            {% if user.is_authenticated %}
                {% if not user.userprofile.is_customer and is_owner %}
                <a class="btn btn-primary" href="{% url 'edit_restaurant' restaurant.id %}">Edit Restaurant</a>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'write_review' restaurant.id %}">Write Review</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <div id="slidewindow">
                {% for recipe in recipes %}
                <img src="{{ recipe.picture }}" style="" 
                {% endfor %}
            </div>
        </td>
    </tr>
    </table>
</div>

<div class="inner-wrap">
    <ul class="list-unstyled" id="review-list">
        {% for review in reviews %}
        <li class="list-space bot-border">
            {{ review.content }}
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}


