{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/restaurant.css" %}">
    <script type="text/javascript" src="{% static "js/restaurant.js" %}"></script>
    <script type="text/javascript" src="{% static "js/slideshow.js" %}"></script>
{% endblock %}

{% block main-content %}


<div class="inner-wrap">

    {% if errors %}
        <p class="alert alert-danger">{{ errors }}</p>
    {% else %}

    <input type="hidden" value="{{ restaurant.id }}" id="restID-hid">
    <input type="hidden" value="{{ restaurant.location.x }}" id="lng-hid">
    <input type="hidden" value="{{ restaurant.location.y }}"  id="lat-hid">

    <table class="table center-table">
        <tr>
            <td>
                <h2>{{ restaurant.name }}</h2>
                <div id="map-canvas" class="map-container"></div>
            </td>
            <td>
                <h4 style="padding-top: 50px; font-family: Monaco;">Introduction</h4>
                <p>
                    {{ restaurant.introduction }}
                </p>
                <h4 style="padding-top: 50px; font-family: Monaco"> Address </h4>
                <address>
                    {{ restaurant.address }}
                </address>
            </td>
            <td>
                {% if user.is_authenticated %}
                    {% if not user.userprofile.is_customer and is_owner %}
                    <a class="btn btn-primary nice-btn" href="{% url 'edit_restaurant' restaurant.id %}">Edit Restaurant</a>
                    {% endif %}
                    <br>
                    {% if not is_owner %}
                    <a class="btn btn-primary nice-btn" href="{% url 'write_review' restaurant.id %}">Write Review</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>

    <div class="center-table">
        <h2 class="bot-border">Recipes</h2>
        <div id="slideShowImages" style="margin-left: 20%;">
            <a href="{% url 'restaurant_menu' restaurant.id %}">
            {% for recipe in recipes %}
                <img src="{%  url 'get_recipe_image' recipe.id %}" alt="Slide {{ recipe.id }}" height="500px">
            {% endfor %}
            </a>
        </div>
    </div>

    <h2 class="bot-border center-table"> Reviews </h2>

	<table class="center-table" id="review-table">
		{% for review in reviews %}
		<tr class="bot-border">
            <td class="col-lg-3">
            <h4>{{ review.reviewer.first_name }} {{ review.reviewer.last_name }}</h4>
            <p>{{ review.create_time }}</p>
            </td>
            <td class="col-lg-3">
                {% if review.rating <= 1 %}
                <img src="{% static "images/rating1.png" %}" height="42px" width="200px">
                {% elif review.rating <= 2 %}
                    <img src="{% static "images/rating2.png" %}" height="42px" width="200px">
                {% elif review.rating <= 3 %}
                    <img src="{% static "images/rating3.png" %}" height="42px" width="200px">
                {% elif review.rating <= 4 %}
                    <img src="{% static "images/rating4.png" %}" height="42px" width="200px">
                {% elif review.rating <= 5 %}
                    <img src="{% static "images/rating5.png" %}" height="42px" width="200px">
                {% endif %}
            </td>
            <td class="col-lg-3">
                <h4>Comment</h4>
                <p><strong>{{ review.content }}</strong></p>
            </td>
		</tr>
		{% endfor %}
    </table>

    {% endif %}
</div>

{% endblock %}


