.top-border {
	border-top: solid;
	border-top-color: dodgerblue;
}

.bot-border {
    border-bottom: solid;
	border-bottom-color: dodgerblue;
}

.center-table {
    width: 90%;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.center-form {
    margin-left: 20%;
    margin-right: 20%;
}

.nice-btn {
    margin-top: 20px;
    width: 100%;
    height: 30px;
}