<!DOCTYPE>

<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta charset="utf-8">

        {% load staticfiles %}
        <link rel="stylesheet" type="css" href="{% static "bootstrap/css/bootstrap.min.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">

        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.expkey=AIzaSyC5em04-PJ2CJHGHwXAZyxyB1_mjr4vfq0&libraries=places&sensor=false">
        </script>
         <script type="text/javascript" src="{% static "js/yummy.js" %}"></script>
        <title> {% block title %} Yummy {% endblock %}</title>

    </head>

    <body>
        <header id="header">
        <nav id="header_outer" class="navbar navbar-inverse navbar-default navbar-fixed-top" role="navigation">
            <div id="header_brand" class="navbar-header">
                <img src="{% static "images/yummy-brand.png" %}" width="100px" height="64px">
            </div>
            
            <div class="collapse navbar-collapse navbar-header-collapse">
                <ul id="header_menu" class="nav navbar-nav">
                    <li class="active"></li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="">Review</a></li>
                </ul>

                <form class="navbar-form navbar-left hidden-xs form-inline" role="search" onsubmit="return onSearch()" method="get" action="{% url 'search' %}">
                    <div class="flex-box input-holder">
                        <div class="label">Find</div>
                        <input  id="find-input" class="controls" type="text" maxlength="64" placeholder="Food, Restaurant">
                        <div class="label">Place</div>
                        <input id="place-input" class="controls" type="text" maxlength="64" placeholder="Location">
                        <button type="submit">Search</button>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right ng-scop" ng-controller="user_ctrl" id="header_me">
                    <li class="divider-vertical hidden-xs"></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="">Signup</a></li>
                </ul>
            </div>
        </nav>
        </header>

        <div id="wrap-all">
            <div id="main" class="inner">
                {% block main-content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>

