<!DOCTYPE>

<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta charset="utf-8">

        <title> Yummy </title>

        {% load static %}
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/base.css" %}">

        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false">
        </script>
        <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/yummy.js" %}"></script>

        {% block head %}

        {% endblock %}
    </head>

    <body>
        <nav id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-top:-15px;">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="{% static "images/yummy-brand.png" %}" height="64px" width="100px"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mag-left-50">
{#              <ul class="nav navbar-nav" style="background-color: #FF9900;">#}
{#                <li class="active"><a href="/">Review</a></li>#}
{#              </ul>#}

              <form class="navbar-form navbar-left navbar-input-group mag-left-50" role="search" onsubmit="return onSearch()" name="search_form">
                <div class="form-group">
                    <div class="col-lg-6">
                      <div class="input-group">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Find<span class="caret"></span></button>
                            <ul class="dropdown-menu pac-container">
                              <li><a onClick="chooseType(1);">Restaurant</a></li>
                              <li><a onClick="chooseType(0)">Food</a></li>
                            </ul>
                          </div><!-- /btn-group -->
                      <input type="text" class="form-control fix-length" id="find-input" placeholder="Food, Restaurant">
                      </div>
                    </div><!-- /.col-lg-6 -->
                   <div class="col-lg-6">
                      <div class="input-group">
                      <span class="input-group-addon">Place</span>
                      <input type="text" class="form-control" id="place-input" placeholder="Location" name="place">
                      </div>
                    </div><!-- /.col-lg-6 -->
                </div>

                <button type="submit" class="btn btn-default">Search</button>

                <input type="hidden" value="r" id="query-type">
                {% csrf_token %}
              </form>

              <ul class="nav navbar-nav navbar-right" id="header_login">
                {% if user.is_authenticated %}
                    {{ user }}
                <li>{{ user.first_name }} {{ user.last_name}}</li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Signup</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <div id="wrap-all">
            <div id="main" class="inner">
                {% block main-content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>

