h2 {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.bot-border {
	border-bottom: solid;
	border-bottom-color: dodgerblue;
    width: 90%;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.star-rating s {
    color: red;
    font-size: 50px;
    cursor: default;
    text-decoration: none;
    line-height: 50px;
}

.star-rating s:before {
    content: "\2605";
}

.map-container {
    position: relative;
    margin-top: 100px;
    border-color: dodgerblue;
    height: 300px;
    width: 500px;
}