h2 {
    width: 500px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.bot-border {
	border-bottom: solid;
	border-bottom-color: dodgerblue;
}

.center-form {
    width: 90%;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.map-container {
    position: relative;
    margin-top: 30px;
    border-color: dodgerblue;
    height: 400px;
    width: 600px;
}